<section class="bg-light" style="box-shadow: 0px 0px 10px -1px rgba(130,130,130,1);">
    <footer class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <a class="text-dark" href="http://glyco.innovation.com.mk/">
                    <img src="../static/favicon2.png" width="100%" height="" class="d-inline-block align-self-center" alt="">
                </a>
                <!-- <h1 class="">Glyco</h1> -->
                <!-- <small class="d-block mb-3 text-light text-center">&copy; 2019</small> -->
            </div>
            <div class="col-md-3 text-center">
                <a class="text-dark" href="https://view.ecgalert.com">
                    <img src="../static/ViewECG.png" width="100%" height="" class="d-inline-block align-self-center" alt="">
                </a>
                <!-- <h1 class="">ViewECG</h1> -->
                <!-- <small class="d-block mb-3 text-light text-center">&copy; 2019</small> -->
            </div>
            <div class="col-md-6 text-right mt-5">
                <div class="mfont">
                    <address>
                        <strong class="pfont">Innovation DOOEL</strong><br>
                        Vostanicka, 118-1<br>
                        Skopje, 1000, Republic of North Macedonia<br>
                        Phone: +389-2-310-9757<br>
                        <a href="mailto:contact@innovation.com.mk">Email: contact@innovation.com.mk</a>
                    </address>
                </div>
            </div>
            <!-- <div class="col-md mt-5">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Resource</a></li>
            </ul>
            </div>
            <div class="col-md mt-5">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Business</a></li>
            </ul>
            </div>
            <div class="col-md mt-5">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Team</a></li>
            </ul>
            </div> -->
        </div>
    </footer>

</section>